/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font_main), sans-serif;
  font-variation-settings: "wght" var(--font-weight_main-text);
  background-image: var(--background-gradient-x), var(--background-gradient-y),
    var(--background-gradient-density);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;
  display: grid;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.header {
  display: grid;
  gap: 20px;
  inline-size: var(--page-block-width);
  block-size: var(--page-block-height);
  background-color: var(--accent-color);
  border: solid 2px var(--main-color);
  margin-bottom: 50px;
}

.header__logo {
  align-self: end;
  justify-self: center;
  font-family: var(--font_accent);
  font-size: clamp(49px, 5vw, 65px);
  font-weight: 400;
}

.header__title {
  align-self: start;
  justify-self: center;
  font-family: var(--font_accent);
  font-size: clamp(14px, 2.5vw, 23px);
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  display: grid;
  gap: 50px;
}

.main__section {
  display: grid;
  background-color: var(--accent-color);
  border: solid 2px var(--main-color);
  inline-size: var(--page-block-width);
}

.main__section-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight_title-text);
  padding: 4px 10px;
}

.main__image-wrapper {
  position: relative;
}

.main__image-wrapper-img {
  display: block;
  width: 100%;
}

.card__image-blur {
  filter: blur(3px);
}

.card__image-contrast {
  filter: contrast(200%);
}

.card__image-opacity {
  filter: opacity(80%);
}

.card__image-grayscale {
  filter: grayscale(80%);
}

.card__image-hue-rotate {
  filter: hue-rotate(90deg);
}

.card__image-saturate {
  filter: saturate(1130%);
}

.card__image-sepia {
  filter: sepia(60%);
}

.card__image-invert-drop-shadow {
  filter: invert(70%) drop-shadow(0 0 20px rgb(247, 0, 255));
}

.main__image-wrapper-label {
  position: absolute;
  font-family: var(--font_accent);
  font-size: 14px;
  top: 25px;
  right: 25px;
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--accent-color), 0 1px var(--accent-color),
    1px 0 var(--accent-color), 0 -1px var(--accent-color);
}

@supports (
  (text-stroke: 1px var(--accent-color)) or
    (-webkit-text-stroke: 1px var(--accent-color))
) {
  .main__image-wrapper-label {
    -webkit-text-stroke: 1px var(--accent-color);
    text-stroke: 1px var(--accent-color);
    text-shadow: none;
  }
}

.main__section-text {
  display: grid;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
}

.main__buttons {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 7px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.like-icon {
  transform-origin: center;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: breath 0.3s ease-in 0.1s 1;
}

.contour {
  transition: 0.1s linear 0s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.06s;
}

.core {
  transition: 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: 0.3s linear 0s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.main-body {
  transition: 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: 0.3s linear 0s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}

.card__icon-button {
  display: flex;
  align-items: center;
  block-size: 38px;
  inline-size: 38px;
  padding: 0;
  border: 2px solid transparent;
  background-color: var(--accent-color);
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.card__like-button {
  position: relative;
  overflow: hidden;
  border: none;
  background-color: var(--accent-color);
  border: solid 2px var(--main-color);
  inline-size: 130px;
  block-size: 38px;
  transition: 0.3s ease;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.card__like-button::before {
  position: absolute;
  z-index: 0;
  inset: 0;
  content: "";
  background-color: var(--main-color);
  transform-origin: left center;
  color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.main__buttons:hover .card__like-button::before {
  transform: scaleX(1);
}

.button__text {
  font-family: var(--font_accent);
  font-size: 14px;
  z-index: 1;
  mix-blend-mode: difference;
  position: relative;
  color: var(--accent-color);
}

.footer {
  justify-self: center;
  padding-bottom: 100px;
}

.footer__button {
  position: relative;
  inline-size: 335px;
  block-size: 55px;
  border: 2px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: 0.3s ease;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.footer__button::before {
  position: absolute;
  z-index: 0;
  inset: 0;
  content: "";
  background-color: var(--main-color);
  transform-origin: left center;
  color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.footer__button:hover::before {
  transform: scaleX(1);
}

.footer__floppy {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  fill: var(--accent-color);
  color: var(--accent-color);
  mix-blend-mode: difference;
}

.footer__save-dialog {
  border: 2px solid var(--main-color);
  padding: 0;
  inline-size: 353px;
  margin: auto;
  display: none;
  background-color: var(--accent-color);
}

.footer__save-dialog[open] {
  display: block;
}

.save-dialog__content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 8px;
  padding: 30px;
  align-items: center;
}

.dialog__floppy {
  height: 39px;
  width: 39px;
}

.dialog__title {
  font-family: var(--font_accent);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__button-ok {
  padding: 0 30px 30px 30px;
}

.footer__button-ok {
  position: relative;
  background-color: var(--accent-color);
  inline-size: 293px;
  block-size: 38px;
  border: 2px solid var(--main-color);
  transition: 0.3s ease;
}

.footer__button-ok::before {
  position: absolute;
  z-index: 0;
  inset: 0;
  content: "";
  background-color: var(--main-color);
  transform-origin: left center;
  color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.footer__button-ok:hover::before {
  transform: scaleX(1);
}

.footer__button-ok:focus {
  outline: none;
}

.footer__button-ok:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color);
}

.dialog__text {
  text-transform: uppercase;
}

.footer__save-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {
  .header {
    max-block-size: 327px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
    inline-size: 306px;
    block-size: 84px;
  }

  .footer__floppy {
    width: 28px;
    height: 28px;
  }
}
